extends base

block content
    main.main
        table#manageUsersTable_cs.manageUsersTable_cs.table
            thead
                tr
                    th ID
                    th Zaměstnanecké-<br>číslo
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down
                    th Příjmení
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Jméno
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Jazyk<br>
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Profese
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Foto
                    th E-mailová adresa
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Role
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Oddělení(a)
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Heslo
                    th Vytvořeno dne
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Upravit
                tbody
                    each user in data
                        tr
                            td= user._id
                            td= user.employeeNumber
                            td= user.lastName
                            td= user.firstName
                            td= user.language
                            td= user.professional
                            td= user.photo
                            td= user.email
                            td= user.role
                            td= user.department
                            td= user.password
                            td= user.createdAt
                            td
        br
        br

        a.btn.btn--small.btn--green(href="/api/v1/createUser") Nového uživatele vytvořit