extends base

//- - const typeMap = {
//- -   'ns=0;i=11': 'Double',
//- -   'ns=0;i=1': 'Boolean',
//- -   'ns=0;i=4': 'Int32'
//- - }

//- - const accessMap = {
//- -   3: 'read/write',
//- -   1: 'read',
//- -   2: 'write'
//- - }

block content
    main.main.BackgroundImageSPS
        //-h1 hallo OPC UA
        div(style='float: right; margin-right: 100px;')
            //.sps__logo
            img(src='/img/sps/OPC-UA_Logo.png', alt='OPC-UA_Logo', style="filter: drop-shadow(gray 1rem 1rem 8px); width: 600px; heigth: auto;")
        br
        br
        br
        br
        br        
        br
        //- h1#serverStateName=dataPLC.state 
        //- br
        //- //-h3 test3
        //- //-h1=dataPLC.toString()
        //- if (JSON.parse(JSON.stringify(dataPLC.startTime)) === '-')
        //-     h1="Keine Verbindung zur SPS!!!"
        //- else
        //-     h1=dataPLC
        //- br
        //- br
        //- br
        //- if (JSON.parse(JSON.stringify(dataPLC.startTime)) === '-')
        //-     pre(style='font-size:15px;')="Keine Verbindung zur SPS!!!"
        //- else
        //-     pre(style='font-size:15px;')=dataPLC
        //- br
        //- //pre=dataPLC.toString().replace(/\x1b\[[0-9;]*m/g, '')
        //- br
        //- if (JSON.parse(JSON.stringify(dataPLC.startTime)) === '-')
        //-     pre= "Keine Verbindung zur SPS!!!"
        //- else
        //-     pre= JSON.stringify(dataPLC, null, 2)
        //- br
        //-pre(style='font-size:15px;')=dataPLC.value.value


        //- h1 ServerStatusDataType - Build-Informationen
        //- br
        //- ul(style="font-size: 16px;")
        //-     li='StartTime: ' +  JSON.parse(JSON.stringify(dataPLC.startTime))
        //-     li='CurrentTime: ' +  JSON.parse(JSON.stringify(dataPLC.currentTime))
        //-     li='State: ' +  JSON.parse(JSON.stringify(dataPLC.state))
        //-     li=dataPLC.state
        //-     li='State: ' +  JSON.stringify(dataPLC.state)
        //-     li='ProductUri: ' +  JSON.parse(JSON.stringify(dataPLC.buildInfo.productUri))
        //-     li='ManufactureName: ' +  JSON.parse(JSON.stringify(dataPLC.buildInfo.manufacturerName))
        //-     li='ProductName: ' +  JSON.parse(JSON.stringify(dataPLC.buildInfo.productName))
        //-     li='SoftwareVersion: ' +  JSON.parse(JSON.stringify(dataPLC.buildInfo.softwareVersion))
        //-     li='BuildNumber: ' +  JSON.parse(JSON.stringify(dataPLC.buildInfo.buildNumber))
        //-     li='SecondsTillShutdown: ' +  JSON.parse(JSON.stringify(dataPLC.secondsTillShutdown))
        //-     li='ShutdownReason: ' +  JSON.parse(JSON.stringify(dataPLC.shutdownReason))
        

        


        
        
        br
        //- console.log("🟢 Server läuft seit:", serverStatus.startTime);
        //- console.log("🕓 Aktuelle Serverzeit:", serverStatus.currentTime);
        //- console.log("📦 Software-Version:", serverStatus.buildInfo.softwareVersion);
        //- console.log("🏭 Hersteller:", serverStatus.buildInfo.manufacturerName);
        br
        br
        br
        //-div(style="border: 1px solid #ccc; padding: 1em; border-radius: 8px;")
            h3(style="margin-bottom: 0.5em;") Build-Informationen
            ul
                li strong Produkt: MySampleServer
                li strong Version: 2.149.0 (Build 1)
                li strong Hersteller: NodeOPCUA (MIT Licence)
                li strong Produkt URI: NodeOPCUA-Server
                li strong Build-Datum: 12.06.2025, 07:55
        br
        br        
        h2(style='color: red; background-color: yellow;') --> Attention: 
        h2(style='color: red; background-color: yellow;') --> The page may need to be reloaded several times!
        h2(style='color: red; background-color: yellow;') --> Maybe wait 1-2 seconds longer before pressing the "SPS_OPC-UA" button!
        h2(style='color: orange;') (It can show something, even if session is not good!)
        br
        //div(style="border: 3px solid #ccc; padding: 4em; border-radius: 8px;")
        //        #f1f3f4bd
        div(style="padding: 2em; background-color: rgb(195 211 227 / 26%); border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);")

            table.tableSPS(style="width: 60%;")
                //div(style="border: 1px solid #ccc; padding: 1em; border-radius: 8px;")
                //-title hhhhh
                th(colspan="2", style="background-color: #f1f3f4bd; font-size: 16px;") Server- Informations - (Server - Status - Build-Informationen)
                tr  
                    th(style="width: 180px; font-size: 14px;") Description
                    th(style="width: 180px; font-size: 14px;") Current value
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;
                        //- td &nbsp;
                        //- td &nbsp;
                        //- td &nbsp;                
                tr
                    th(style="background-color: #f1f3f4bd;") StartTime
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.startTime !== undefined ?  new Date(dataPLC.startTime).toLocaleString('de-DE', {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'})  : 'n/a'
                tr
                    th(style="background-color: #f1f3f4bd;") CurrentTime
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.currentTime  !== undefined ? new Date(dataPLC.currentTime).toLocaleString('de-DE', {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'}) : 'n/a'                       
                           
                tr
                    th(style="background-color: #f1f3f4bd;") ServerState
                    td( id="serverStateCell",style="color: black; font-weight: bold; background-color: #ffff0017;" data-state=(dataPLC && dataPLC.state  !== undefined ? dataPLC.state  : '-'))= stateText 

                tr
                    th(style="background-color: #f1f3f4bd;") ProductUri
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.buildInfo &&  dataPLC.buildInfo.productUri !== undefined ? JSON.parse(JSON.stringify(dataPLC.buildInfo.productUri))     : 'n/a'   
                tr
                    th(style="background-color: #f1f3f4bd;") ManufactureName
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.buildInfo &&  dataPLC.buildInfo.manufacturerName !== undefined ? JSON.parse(JSON.stringify(dataPLC.buildInfo.manufacturerName))      : 'n/a'  
                tr
                    th(style="background-color: #f1f3f4bd;") ProductName
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.buildInfo &&  dataPLC.buildInfo.productName !== undefined ? JSON.parse(JSON.stringify(dataPLC.buildInfo.productName))    : 'n/a'                                                                         
                tr
                    th(style="background-color: #f1f3f4bd;") SoftwareVersion
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.buildInfo &&  dataPLC.buildInfo.softwareVersion !== undefined ? JSON.parse(JSON.stringify(dataPLC.buildInfo.softwareVersion))       : 'n/a'    
                tr
                    th(style="background-color: #f1f3f4bd;") BuildNumber
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.buildInfo &&  dataPLC.buildInfo.buildNumber !== undefined ? JSON.parse(JSON.stringify(dataPLC.buildInfo.buildNumber))     : 'n/a'      
                tr
                    th(style="background-color: #f1f3f4bd;") SecondsTillShutdown
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.secondsTillShutdown !== undefined ? JSON.parse(JSON.stringify(dataPLC.secondsTillShutdown)) : 'n/a'                                                                     
                tr
                    th(style="background-color: #f1f3f4bd;") ShutdownReason
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.shutdownReason !== undefined ? JSON.parse(JSON.stringify(dataPLC.shutdownReason))      : 'n/a'                        
                //-tr
                    th(style="background-color: #f1f3f4bd;") ServerState
                    td#serverStateCell(style="color: red; font-weight: bold; background-color: yellow;" data-state=(dataPLC && dataPLC.state !== undefined ? dataPLC.state : '-'))= stateText                              
                //-tr
                    th(style="background-color: #f1f3f4bd;") State
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.state  !== undefined || '-' ? 'n/a' : dataPLC.state 
                //-tr
                    th(style="background-color: #f1f3f4bd;") ServerStatessssssssssssssssss
                    td(style="color: blue; font-weight: bold;")=dataPLC && dataPLC.state  !== undefined ? dataPLC.state : 'n/a'
                    //- - const stateNum = JSON.parse(dataPLC.state)
                    //- - const stateText = ServerState[stateNum]
                //-tr
                    th(style="background-color: #f1f3f4bd;") ServerState
                    td(id="serverStateCell",style="color: red; font-weight: bold; background-color: yellow;" data-state=dataPLC && dataPLC.state  !== undefined || '-' ? JSON.parse(dataPLC.state)  : dataPLC.state)= stateText  
                    //-id="serverStateCell"         #serverStateCell                           

        br
        br            
        a.btn.btn--small.btn--green(href="/api/v1/overviewInlogt") Back     
        br
        br
        br
        .warning-SPSMomentcontainer
            span.moment-icon ⚠️
            .warning-textSPSMoment Attention, this is a snapshot of the moment!
            span.moment-icon ⚠️
        br            
        //- h1=data_TDT_ExchaneArea
        //- br
        //- //-pre(style="font-size: 15px;")= JSON.stringify(data_TDT_ExchaneArea, null, 2)
        //- br
        //- //TODO: Input felder generieren
        //- //-h1=JSON.stringify(data_TDT_ExchaneArea.stepPositionsObjN)
        //- //-table.tableSPS 
        //-     div
        //- br
        //- h1(style="background-color: yellow; color: red;") Siemens SPS - Typ und Version wird benötigt!!!
        //- h1 ---------------------------
        //- h1=JSON.stringify(dataSimatic)
        //- h1=dataSimatic
        //-h1 ---------------------------
        //-br
        //-div(style="padding: 2em; background-color: #f9fafb; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);") #f1f3f4bd
        br
        //div(style="padding: 2em; background-color:rgb(151, 198, 245); border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);")
        div(style="padding: 2em; background-color:rgb(195 211 227 / 26%); border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);")

            table.tableSPS(style="width: 60%;")
                //div(style="border: 1px solid #ccc; padding: 1em; border-radius: 8px;")
                //-title hhhhh
                th(colspan="2", style="background-color: #f1f3f4bd; font-size: 16px;") PLC - Simatic-Status
                tr  
                    th(style="width: 180px; font-size: 14px;") Description
                    th(style="width: 180px; font-size: 14px;") Current value
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;
                        //- td &nbsp;
                        //- td &nbsp;
                        //- td &nbsp;                
                tr
                    th(style="background-color: #f1f3f4bd;") Value
                    //-td &nbsp;
                tr    
                    th(style="background-color: #f1f3f4bd;") value.dataType
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.value.dataType  : 'n/a'
                tr    
                    th(style="background-color: #f1f3f4bd;") value.arrayType
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.value.arrayType  : 'n/a'     
                tr    
                    th(style="background-color: #f1f3f4bd;") value.value
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.value.value  : 'n/a'      
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;                                                    
                tr
                    th(style="background-color:rgb(243 171 15 / 47%);") OperatingMode
                    td#operatingMode(style="color: blue; font-weight: bold;", data-state=((dataSimatic !== undefined || dataSimatic.value.value !== '-') ? dataSimatic.value.value  : '-'))=hhhhh
                    //-=dataSimatic !== undefined ? dataSimatic.value.value  : 'n/a'
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;                                                                  
                tr    
                    th(style="background-color: #f1f3f4bd;") statusCode
                    //-td(style="background-color: yellow; color: pink; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.statusCode.value  : 'n/a'                    
                tr    
                    th(style="background-color: #f1f3f4bd;") statusCode.value
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.statusCode.value  : 'n/a'
                tr    
                    th(style="background-color: #f1f3f4bd;") statusCode.description
                    td(style="color: #6c4d41; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.statusCode.description  : 'n/a'                    
                tr    
                    th(style="background-color: #f1f3f4bd; ") statusCode.name
                    //-- const isOperatingStatusGood = '0';
                    - let operatingStatusText = dataSimatic !== undefined ? dataSimatic.statusCode.name  : 'n/a'
                    //-- let operatingStatusText2 = operatingStatusText === isOperatingStatusGood ? 'Good'  : 'n/a'
                    //-- console.log('operatingStatusText--: ', operatingStatusText)
                    //-- conosle.log('typeof operatingStatusText: ', typeof operatingStatusText)
                    - let operatingStatusColor = 'red';
                    if (operatingStatusText === 'Good')
                        //-- console.log('operatingStatusText: ', operatingStatusText)
                        //-operatingStatusText = 'Good';
                        - operatingStatusColor = '#23ff23';
                    //- - const raw = dataSimatic?.statusCode?.name
                    //- - const statusCode = raw !== undefined ? Number(raw) : null
                    //- - const isGood = statusCode === 0
                    //- - const statusText = statusCode !== null ? (isGood ? 'Good' : raw) : 'n/a'
                    //- - const statusColor = statusCode !== null ? (isGood ? 'green' : 'red') : 'gray'
                    //td(style=`color: ${statusColor}; font-weight: bold; font-size: 15px;`)= statusText                    
                    td(style=`color: ${operatingStatusColor}; font-weight: bold; text-shadow: 1px 1px 2px darkgray;`)=operatingStatusText
                    //-dataSimatic !== undefined ? dataSimatic.statusCode.name  : 'n/a'                    
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;    
                tr    
                    th(style="background-color: #f1f3f4bd;") sourceTimestamp
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? new Date(dataSimatic.sourceTimestamp).toLocaleString('de-DE', {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'}) : 'n/a'                            
                tr    
                    th(style="background-color: #f1f3f4bd;") sourcePicoseconds
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.sourcePicoseconds : 'n/a'    
                tr    
                    th(style="background-color: #f1f3f4bd;") serverTimestamp
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? new Date(dataSimatic.serverTimestamp).toLocaleString('de-DE', {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'}) : 'n/a'                            
                tr    
                    th(style="background-color: #f1f3f4bd;") serverPicoseconds
                    td(style="color: blue; font-weight: bold;")=dataSimatic !== undefined ? dataSimatic.serverPicoseconds : 'n/a'    
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;                                                                                                                   
        //-br
        //-h1=dataPLCInfo
        //-h1=JSON.stringify(dataPLCInfo)
        br
        div(style="padding: 2em; background-color:rgb(195 211 227 / 26%); border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);")

            table.tableSPS(style="width: 60%;")
                th(colspan="2", style="background-color: #f1f3f4bd; font-size: 16px;") PLC- Informations
                tr  
                    th(style="width: 180px; font-size: 14px;") Description
                    th(style="width: 180px; font-size: 14px;") Current value
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;
                tr    
                    th(style="background-color: #f1f3f4bd;") Model
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_Model.value.value.text  : 'n/a'                    
                tr    
                    th(style="background-color: #f1f3f4bd;") OrderNumber
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_OrderNumber.value.value  : 'n/a'                      
                    
                tr    
                    th(style="background-color: #f1f3f4bd;") SerialNumber
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_SerialNumber.value.value  : 'n/a'                     
                tr    
                    th(style="background-color: #f1f3f4bd;") SoftwareRevision
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_SoftwareRevision.value.value  : 'n/a'                     
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;                      
                tr    
                    th(style="background-color: #f1f3f4bd;") Manufacturer
                    td(style="color: #0082f5; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_Manufacturer.value.value.text  : 'n/a'                                                                                                            
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;                

                tr    
                    th(style="background-color: #f1f3f4bd;") EngineeringRevision
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_EngineeringRevision.value.value  : 'n/a'        
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;  
                tr    
                    th(style="background-color: #f1f3f4bd;") OperatingMode
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_OperatingMode.value.value  : 'n/a' 
                tr
                    th(style="background-color: #f1f3f493;") &nbsp;
                    td &nbsp;                                                                     
                tr    
                    th(style="background-color: #f1f3f4bd;") HardwareRevision
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_HardwareRevision.value.value  : 'n/a'        
                tr    
                    th(style="background-color: #f1f3f4bd;") DeviceRevision
                    td(style="color: green; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_DeviceRevision.value.value  : 'n/a'        
 

                                                                  
                tr    
                    th(style="background-color: #f1f3f4bd;") RevisionCounter
                    td(style="color: #f16969; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_RevisionCounter.statusCode.value  : 'n/a' 


                tr    
                    th(style="background-color: #f1f3f4bd;") DeviceManual
                    td(style="color: #0756d3bf; font-weight: bold;")=dataPLCInfo !== undefined ? dataPLCInfo.dataValue_DeviceManual.value.value  : 'n/a'                            
                                                                                                                                         
        br
        table.tableSPS
            div    
                div(style="font-size: 18px; font-weight: bold; background-color: #f1f3f4; margin-bottom: 1px; text-align: center;") TDT_ExchangeArea
                //div(style="background-color: #f1f3f457;")
                div(style="background-color: #f1f3f4bd;")
                    a(style="padding: 2px; font-size:14px; font-weight: bold;") STEP_POSITIONS - Draw- Positions:
                    button(style="float: right; " id="toggleButtonMatrix") X
                    div(style="padding: 3px;")  
                        div.ziehpositionenScrollBox(style="padding: 5px; font-size: 14px;" id="ziehpositionenContent")=data_TDT_ExchaneArea && data_TDT_ExchaneArea.stepPositionsObj ? JSON.stringify(data_TDT_ExchaneArea.stepPositionsObj) : 'Keine Ziehpositionen verfügbar'                                
            //-div(style="font-size: 18px; font-weight: bold; background-color: #f1f3f4; margin-bottom: 1px; text-align: center;")
            //-tr
                td(style="font-size: 16px;") test
            //-div(style="font-size: 18px; font-weight: bold; background-color: #f1f3f4; margin-bottom: 1px; text-align: center;")    

            tr
                th(colspan="8", style="background-color: #f1f3f493;") &nbsp; 
            tr 
                th(style="width: 110px; font-weight: bold;") Name 
                th Wert 
                th(style="width: 180px; font-weight: bold;") NodeID
                th(style="width: 90px; font-weight: bold;") Datatyp    
                th(style="width: 140px; font-weight: bold;") Datatyp PLC
                th(style="width: 130px; font-weight: bold;") Reading / Writing
                th(style="width: 140px; font-weight: bold;") TimeStamp  
                th(style="width: 90px; font-weight: bold;") Statuscode
            tr
                td(style="background-color: #f1f3f457;")=data_TDT_ExchaneArea && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.BrowseName && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.BrowseName.name !== undefined ? data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.BrowseName.name : 'n/a'
                td(style="color: blue; font-weight: bold;")=data_TDT_ExchaneArea && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.Value !== undefined ? data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.Value : 'n/a'
                //-td(style="color: blue; font-weight: bold;")= `ns=${data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.BrowseName.namespaceIndex};s=${data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.BrowseName.name} / ${data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType}`


                - let nodeIdText = 'n/a'
                - const detail = data_TDT_ExchaneArea?.dataRECIPE_NAME_Detail
                - if (detail?.BrowseName?.namespaceIndex !== undefined && detail?.BrowseName?.name !== undefined && detail?.DataType !== undefined)
                    - nodeIdText = `ns=${detail.BrowseName.namespaceIndex};s=${detail.BrowseName.name} / ${detail.DataType}`
                td(style="color: blue; font-weight: bold;")= nodeIdText

                td(style="color: blue; font-weight: bold;")=data_TDT_ExchaneArea && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType !== undefined ? data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType : 'n/a'
                //-td(style="color: blue; font-weight: bold;")= typeMap[data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType] || data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType
                td(style="color: blue; font-weight: bold;")=typeMap && data_TDT_ExchaneArea && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType !== undefined ? (typeMap[data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType] || data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.DataType) : 'n/a'                
                td(style="color: blue; font-weight: bold;")=accessMap && data_TDT_ExchaneArea && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail && data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.AccessLevel !== undefined ? (accessMap[data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.AccessLevel] || data_TDT_ExchaneArea.dataRECIPE_NAME_Detail.AccessLevel)  : 'n/a' 

                - const tsRaw = data_TDT_ExchaneArea?.data_RECIPE_NAME?.sourceTimestamp
                - let dateString = 'n/a'
                - if (tsRaw !== undefined) 
                    - const ts = new Date(tsRaw)
                    - const day = ts.getDate().toString().padStart(2, '0')
                    - const month = (ts.getMonth() + 1).toString().padStart(2, '0')
                    - const year = ts.getFullYear()
                    - const hours = ts.getHours().toString().padStart(2, '0')
                    - const minutes = ts.getMinutes().toString().padStart(2, '0')
                    - dateString = `${day}.${month}.${year} : ${hours}.${minutes}`
                
                td(style="color: blue; font-weight: bold;")= dateString


                //- - const ts = new Date(data_TDT_ExchaneArea.data_RECIPE_NAME.sourceTimestamp)
                //- - const day = ts.getDate().toString().padStart(2, '0')
                //- - const month = (ts.getMonth() + 1).toString().padStart(2, '0')
                //- - const year = ts.getFullYear()
                //- - const hours = ts.getHours().toString().padStart(2, '0')
                //- - const minutes = ts.getMinutes().toString().padStart(2, '0')
                //- td(style="color: blue; font-weight: bold;")= `${day}.${month}.${year} : ${hours}.${minutes}`  



                //- - const raw = data_TDT_ExchaneArea.data_RECIPE_NAME?.statusCode
                //- - const statusCode = Number(raw)
                //- - const isGood = statusCode === 0
                //- - const statusText = isGood ? 'Good' : (raw ?? 'Unbekannt')
                //- - const statusColor = isGood ? 'green' : 'red'
                //- td(style=`color: ${statusColor}; font-weight: bold; font-size: 15px;`)= statusText !== undefined ? statusText : 'n/a'


                - const raw = data_TDT_ExchaneArea?.data_RECIPE_NAME?.statusCode
                - const statusCode = raw !== undefined ? Number(raw) : null
                - const isGood = statusCode === 0
                - const statusText = statusCode !== null ? (isGood ? 'Good' : raw) : 'n/a'
                - const statusColor = statusCode !== null ? (isGood ? '#23d123ff' : 'red') : 'gray'
                td(style=`color: ${statusColor}; font-weight: bold; font-size: 15px;`)= statusText


            tr
                th(colspan="8", style="background-color: #f1f3f493;") &nbsp;                                       


            //- tr

            //-     th Name
            //-     th Wert
            //-     th NodeID / Datentyp
            //-     th Datentyp
            //-     th Datentyp PLC
            //-     th Lesen /Schreiben                 
                         
            //- tbody
            //-     tr 
            //-         td=data_TDT_ExchaneArea.data_RECIPE_NAME
            //-         //-td=data_TDT_ExchaneArea.data_RECIPE_NAME.value
            //-         //-td(style="color: blue; font-weight: bold;")= `ns=${itemVal.BrowseName.namespaceIndex};s=${itemVal.BrowseName.name} / ${itemVal.DataType}`
            //-     each val in data_TDT_ExchaneArea.stepPositionsObjN
            //-         tr
            //-             td(style="color: blue; font-weight: bold;")=JSON.stringify(val)
        br
        br
        //-if data_TDT_ExchaneArea && data_TDT_ExchaneArea.stepPositionsObjN && Object.keys(data_TDT_ExchaneArea.stepPositionsObjN).length > 0
            each val, posKey in data_TDT_ExchaneArea.stepPositionsObjN
                table.tableSPS
                    thead
                        th(colspan="6", style="background-color: #f1f3f4bd;")= posKey
                        tr
                        th Name
                        th Wert
                        th NodeID / Datentyp
                        th Datentyp
                        th Datentyp PLC
                        th Lesen /Schreiben
                    tbody
                        each itemVal, itemKey in val
                            tr
                                td(style="background-color: #f1f3f457;")= itemKey || 'n/a'
                                td(style="color: blue; font-weight: bold;")= itemVal?.Value ?? 'n/a'
                                td(style="color: blue; font-weight: bold;")= itemVal?.BrowseName ? `ns=${itemVal.BrowseName.namespaceIndex};s=${itemVal.BrowseName.name} / ${itemVal.DataType}` : 'n/a'
                                td(style="color: blue; font-weight: bold;")= typeMap[itemVal?.DataType] || itemVal?.DataType || 'n/a'
                                td(style="color: blue; font-weight: bold;")= itemVal?.DataType || 'n/a'
                                td(style="color: blue; font-weight: bold;")= accessMap[itemVal?.AccessLevel] || itemVal?.AccessLevel || 'n/a'
        //-else
            p(style="padding: 10px; font-weight: bold; color: #999;") Keine Ziehpositionen verfügbar

        if data_TDT_ExchaneArea && data_TDT_ExchaneArea.stepPositionsObjN && Object.keys(data_TDT_ExchaneArea.stepPositionsObjN).length > 0
            each val, posKey in data_TDT_ExchaneArea.stepPositionsObjN
                table.tableSPS
                    thead
                        //th(colspan="6", style="background-color: #f1f3f4bd;")= posKey //#055e8b21
                        th(colspan="6", style="background-color: #055e8b21;")= posKey
                        tr
                        th Name
                        th Value
                        th NodeID / Datatyp
                        th Datatyp
                        th Datatyp PLC
                        th Reading / Writing
                    tbody
                        each itemVal, itemKey in val
                            tr
                                td(style="background-color: #f1f3f457;")= itemKey !== undefined ? itemKey : 'n/a'
                                td(style="color: blue; font-weight: bold;")= itemVal && itemVal.Value !== undefined ? itemVal.Value : 'n/a'
                                td(style="color: blue; font-weight: bold;")
                                    if itemVal && itemVal.BrowseName && itemVal.BrowseName.namespaceIndex !== undefined && itemVal.BrowseName.name
                                        = `ns=${itemVal.BrowseName.namespaceIndex};s=${itemVal.BrowseName.name} / ${itemVal.DataType}`
                                    else
                                        | n/a
                                td(style="color: blue; font-weight: bold;")= typeMap && itemVal && itemVal.DataType && typeMap[itemVal.DataType] ? typeMap[itemVal.DataType] : (itemVal && itemVal.DataType ? itemVal.DataType : 'n/a')
                                td(style="color: blue; font-weight: bold;")= itemVal && itemVal.DataType ? itemVal.DataType : 'n/a'
                                td(style="color: blue; font-weight: bold;")= accessMap && itemVal && itemVal.AccessLevel && accessMap[itemVal.AccessLevel] ? accessMap[itemVal.AccessLevel] : (itemVal && itemVal.AccessLevel ? itemVal.AccessLevel : 'n/a')
        else
                h1 No draw- positions available
                table.tableSPS
                    thead
                        th(colspan="6", style="background-color: #f1f3f4bd;")= posKey
                        tr
                        th Name
                        th Value
                        th NodeID / Datatyp
                        th Datatyp
                        th Datatyp PLC
                        th Reading / Writing
                    tbody                
                        td n/a
                        td n/a
                        td n/a
                        td n/a
                        td n/a
                        td n/a
                //-p(style="padding: 10px; font-weight: bold; color: #999;") Keine Ziehpositionen verfügbar halloo

        //-each val, posKey in data_TDT_ExchaneArea.stepPositionsObjN
            //-h2= posKey
            table.tableSPS
                thead
                    th(colspan="6", style="background-color: #f1f3f4bd;")= posKey
                    tr
                        th Name
                        th Wert
                        th NodeID / Datentyp
                        th Datentyp
                        th Datentyp PLC
                        th Lesen /Schreiben
                    tbody
                        each itemVal, itemKey in val
                            tr
                                td(style="background-color: #f1f3f457;")= itemKey !== undefined ? itemKey  : 'n/a'
                                dataGVL && dataGVL.vFileLesen && dataGVL.vFileLesen.value !== undefined ? dataGVL.vFileLesen.value : 'n/a'
                                td(style="color: blue; font-weight: bold;")= itemKey && itemVal.Value !== undefined ? itemVal.Value : 'n/a'
                                td(style="color: blue; font-weight: bold;")= itemKey && `ns=${itemVal.BrowseName.namespaceIndex};s=${itemVal.BrowseName.name} / ${itemVal.DataType}` : 'n/a'
                                td(style="color: blue; font-weight: bold;")= typeMap[itemVal.DataType] || itemVal.DataType : 'n/a'
                                td(style="color: blue; font-weight: bold;")= itemKey && itemVal.DataType !== undefined ? itemVal.DataType : 'n/a'
                                td(style="color: blue; font-weight: bold;")= accessMap[itemVal.AccessLevel] || itemVal.AccessLevel : 'n/a'

        //-br


        //-br
        //-table.tableSPS 
            //-div    
                div(style="font-size: 18px; font-weight: bold; background-color: #f1f3f4; margin-bottom: 1px; text-align: center;") TDT_ExchangeArea
                //div(style="background-color: #f1f3f457;")
                div(style="background-color: #f1f3f4bd;")
                    a(style="padding: 2px; font-size:14px; font-weight: bold;") Ziehpositionen:
                    button(style="float: right; " id="toggleButtonMatrix") X
                    //-div(style="padding: 3px;")
                        div.ziehpositionenScrollBox(style="padding: 5px;")= dataGVL && dataGVL.ziehpositionen ? JSON.stringify(dataGVL.ziehpositionen, null, 2) : 'Keine Ziehpositionen verfügbar'
                    //-br
                    div(style="padding: 3px;")
                        //div.ziehpositionenScrollBox(style="padding: 5px;")=JSON.stringify(dataGVL.ziehpositionen)            
                        //-dataGVL && dataGVL.ziehpositionen ? JSON.stringify(dataGVL.ziehpositionen) : 'Keine Ziehpositionen verfügbar'
                        div.ziehpositionenScrollBox(style="padding: 5px; font-size: 12px;" id="ziehpositionenContent")=dataGVL && dataGVL.ziehpositionen ? JSON.stringify(dataGVL.ziehpositionen) : 'Keine Ziehpositionen verfügbar'
                        //-div.ziehpositionenScrollBox(style="padding: 5px; font-size: 12px;" id="ziehpositionenContent")
                            if dataGVL && dataGVL.ziehpositionen
                                each item in dataGVL.ziehpositionen

                                    a(style=`color: ${item.Pos !== 0 || item.Verst !== 0 ? 'blue' : 'pink'};`) #{JSON.stringify(item)}
                            //-if dataGVL && dataGVL.ziehpositionen
                                each item in dataGVL.ziehpositionen
                                    - const pos = item.Pos || 0;
                                    - const verst = item.Verst || 0;
                                    div(style=`color: ${pos !== 0 || verst !== 0 ? 'blue' : 'pink'};`) Pos: #{pos}, Verst: #{verst}
                                    //-- const parsedItem = typeof item === 'string' ? JSON.parse(item) : item;
                                    //-div(style=`color: ${parsedItem.Pos !== 0 || parsedItem.Verst !== 0 ? 'blue' : 'pink'};`) #{JSON.stringify(parsedItem)}
                                    //-if item.Pos !== 0 || item.Verst !== 0
                                    //-if (item !== '"Pos":0,"Verst":0')
                                    //-if item.Pos !== 0 || item.Verst !== 0
                                    //-div(style=`color: ${item.Pos !== 0 || item.Verst !== 0 ? 'blue' : 'pink'};`) #{JSON.stringify(item)}
                                    //-     div(style="color: blue;") #{JSON.stringify(item)}
                                    //- else
                                    //-     div(style="color: pink;") #{JSON.stringify(item)}
                            else
                                div Keine Ziehpositionen verfügbar
            colgroup
                col(style="width: 20%;")
                col(style="width: 40%;")
                col(style="width: 10%;")
                col(style="width: 15%;")
                col(style="width: 15%;")
            tr  
                th(style="font-size: 16px;") Name
                th(style="font-size: 16px;") Wert
                th(style="font-size: 16px;") Typ
                th(style="font-size: 16px;") Index-Group
                th(style="font-size: 16px;") Index-Offset
            tr
                th(style="background-color: #f1f3f493;") &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;                
            tr
                th(style="background-color: #f1f3f4bd;") RECIPE_NAME
                td(style="color: blue; font-weight: bold;")= dataGVL && dataGVL.vFileLesen && dataGVL.vFileLesen.value !== undefined ? dataGVL.vFileLesen.value : 'n/a'
                td(style="color: blue; font-weight: bold;")= dataGVL && dataGVL.vFileLesen && dataGVL.vFileLesen.type && dataGVL.vFileLesen.type.type !== undefined ? dataGVL.vFileLesen.type.type : 'n/a'
                td(style="color: black;")= dataGVL && dataGVL.vFileLesen && dataGVL.vFileLesen.symbol && dataGVL.vFileLesen.symbol.indexGroup !== undefined ? dataGVL.vFileLesen.symbol.indexGroup : 'n/a'
                td(style="color: black;")= dataGVL && dataGVL.vFileLesen && dataGVL.vFileLesen.symbol && dataGVL.vFileLesen.symbol.indexOffset !== undefined ? dataGVL.vFileLesen.symbol.indexOffset : 'n/a'
            tr
                th(style="background-color: #f1f3f493;") &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
            tr
                th(style="background-color: #f1f3f4bd;") STEP_POSITIONS
                td(style="color: blue; font-weight: bold;")= dataGVL && dataGVL.vPositionen1 && dataGVL.vPositionen1.value !== undefined ? dataGVL.vPositionen1.value : 'n/a'
                td(style="color: blue; font-weight: bold;")= dataGVL && dataGVL.vPositionen1 && dataGVL.vPositionen1.type && dataGVL.vPositionen1.type.type !== undefined ? dataGVL.vPositionen1.type.type : 'n/a'
                td(style="color: black;")= dataGVL && dataGVL.vPositionen1 && dataGVL.vPositionen1.symbol && dataGVL.vPositionen1.symbol.indexGroup !== undefined ? dataGVL.vPositionen1.symbol.indexGroup : 'n/a'
                td(style="color: black;")= dataGVL && dataGVL.vPositionen1 && dataGVL.vPositionen1.symbol && dataGVL.vPositionen1.symbol.indexOffset !== undefined ? dataGVL.vPositionen1.symbol.indexOffset : 'n/a'            
            tr
                th(style="background-color: #f1f3f4bd;") vPositionen2
                td(style="color: blue; font-weight: bold;")= dataGVL && dataGVL.vPositionen2 && dataGVL.vPositionen2.value !== undefined ? dataGVL.vPositionen2.value : 'n/a'
                td(style="color: blue; font-weight: bold;")= dataGVL && dataGVL.vPositionen2 && dataGVL.vPositionen2.type && dataGVL.vPositionen2.type.type !== undefined ? dataGVL.vPositionen2.type.type : 'n/a'
                td(style="color: black;")= dataGVL && dataGVL.vPositionen2 && dataGVL.vPositionen2.symbol && dataGVL.vPositionen2.symbol.indexGroup !== undefined ? dataGVL.vPositionen2.symbol.indexGroup : 'n/a'
                td(style="color: black;")= dataGVL && dataGVL.vPositionen2 && dataGVL.vPositionen2.symbol && dataGVL.vPositionen2.symbol.indexOffset !== undefined ? dataGVL.vPositionen2.symbol.indexOffset : 'n/a'             

        br
        br            
        a.btn.btn--small.btn--green(href="/api/v1/overviewInlogt") Back   
        br
        br


        script. 

            const simaticOperationStatusCode = {
                0: "NotSupported🔵",
                1: "StopFwUpdate🔵",
                3: "StopSelfInitialization🔵",
                4: "Stop🔴",
                6: "Startup🔵",
                8: "Run🟢",
                9: "RunRedundant🔵",
                10: "Halt🟠",
                11: "RunSyncUp🔵",
                12: "SyncUp🔵",
                13: "Defective🔵",
                14: "ErrorSearch❌",
                15: "NoPower❌",
                16: "CiR🔵",
                17: "STOPwithoutODIS🔵",
                18: "RunODIS🔵",
                999: '❌ Failed ❌ PSEUDOFEHLER'
            };


            const ServerState = {
                0: 'Running🟢',
                1: 'Failed❌',
                2: 'NoConfiguration🔴',
                3: 'Suspended🔴',
                4: 'Shutdown🔴',
                5: 'Test🔴',
                6: 'CommunicationFault🔴',
                7: 'Unknown🔴',

            };
            //- const serverStateName = document.getElementById('serverStateName').value;
            //- console.log('serverStateName: ', serverStateName)


            const td = document.getElementById('serverStateCell')
            //.innerText
            //document.getElementById('serverStateCell').dataset
            //.innerHTML
            //.DOMStringMap.textContent
            //.textContent;
            const stateNumber = td.dataset.state
            //.textContent;
            // parseInt(td.dataset.state);
            console.log('td: ', td);
            console.log('stateNumber: ', stateNumber);
            if(stateNumber !== '0'){
                td.style.color = 'red';
                td.className = 'neonTdOPCUA_state_failed';
            } else {
                td.style.color = 'green';
                td.className = 'neonTdOPCUA_state_good';
            }
            td.textContent = ServerState[stateNumber];
            //-'ddd';
            //ServerState[stateNumber];

            const operatingModeTD = document.getElementById('operatingMode');//.value;
            const operatingModeNumber = operatingModeTD.dataset.state;
            console.log('operatingModeTD: ', operatingModeTD);
            console.log('operatingModeNumber: ', operatingModeNumber)
            console.log('typeof operatingModeNumber: ', typeof operatingModeNumber) 
            //simaticOperationStatusCode

            if(operatingModeNumber === '-'){
                    console.log('operatingModeNumber nich gleich - ❌ Failed ❌ PSEUDOFEHLER', operatingModeNumber)
                    operatingModeTD.style.color = 'red';
                    operatingModeTD.className = 'neonTdOPCUA_state_failed';
                    operatingModeTD.textContent = '❌ Failed ❌ PSEUDO-ERROR';//simaticOperationStatusCode['999'];
            } else if(operatingModeNumber !== '8'){
                console.log('operatingModeNumber nich gleich 8 ', operatingModeNumber)
                
                operatingModeTD.style.color = 'red';
                operatingModeTD.className = 'neonTdOPCUA_state_failed';
                operatingModeTD.textContent = simaticOperationStatusCode[operatingModeNumber];
            } else {
                operatingModeTD.style.color = 'green';
                operatingModeTD.className = 'neonTdOPCUA_state_good';
                operatingModeTD.textContent = simaticOperationStatusCode[operatingModeNumber];
            }
            //-operatingModeTD.textContent = simaticOperationStatusCode[operatingModeNumber];


            function formatDateTime(dateString) {
                const date = new Date(dateString);
                return date.toLocaleString('de-DE', {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit'
                });
            }


            document.addEventListener('DOMContentLoaded', function() {

            });   

            let isToggledMatrix = false;
            const toggleButtonMatrix = document.getElementById('toggleButtonMatrix');
            const ziehPositionenDiv = document.getElementById('ziehpositionenContent');

            toggleButtonMatrix.addEventListener('click', function() {
                    if (isToggledMatrix) {
                        ziehPositionenDiv.style.backgroundColor = '#f1f3f4bd';
                        ziehPositionenDiv.style.color = 'black';
                    } else {
                        ziehPositionenDiv.style.backgroundColor = 'black';
                        ziehPositionenDiv.style.color = '#00ff41';
                    }
                    isToggledMatrix = !isToggledMatrix;
            });                   
        
        //- script.
        //-     console.log("Helllllloooooo")

        //-     const typeMap = {
        //-         'ns=0;i=11': 'Double',
        //-         'ns=0;i=1': 'Boolean',
        //-         'ns=0;i=4': 'Int32',
        //-     };

        //-     const accessMap = {
        //-         3: 'read/write',
        //-         1: 'read',
        //-         2: 'write',
        //-     };


            //- ns=0;i=1    Bool    Boolean
            //- ns=0;i=2    SInt    SByte
            //- ns=0;i=3    USInt   Byte            
            //- ns=0;i=4    Int     Int16
            //- ns=0;i=5    UInt    UInt16
            //- ns=0;i=6    DInt    Int32
            //- ns=0;i=7    UDInt   UInt32
            //- ns=0;i=8    LInt    Int64
            //- ns=0;i=9    ULInt   UInt64
            //- ns=0;i=10   Real    Float
            //- ns=0;i=11   LReal   Double
            //- ns=0;i=12   WString String
            //- ns=0;i=13   LDT     DateTime
            //- ns=0;i=19   DWord   StatusCode

            //- ns=3;i=3001 Byte    "BYTE"
            //- ns=3;i=3002 Word    "WORD"
            //- ns=3;i=3003 DWord   "DWORD"               
            //- ns=3;i=3004 LWORD   "LWORD"
            //- ns=3;i=3011 Date_And_Time "DT"
            //- ns=3;i=3012 Char    "CHAR"
            //- ns=3;i=3013 WChar   "WCHAR"
            //- ns=3;i=3014 Strin   "STRING"                                                                                              



            //- const value = 15;
            //- const enumMap = {
            //-   0: "NotSupported",
            //-   1: "StopFwUpdate",
            //-   3: "StopSelfInitialization",
            //-   4: "Stop",
            //-   6: "Startup",
            //-   8: "Run",
            //-   9: "RunRedundant",
            //-   10: "Halt",
            //-   11: "RunSyncUp",
            //-   12: "SyncUp",
            //-   13: "Defective",
            //-   14: "ErrorSearch",
            //-   15: "NoPower",
            //-   16: "CiR",
            //-   17: "STOPwithoutODIS",
            //-   18: "RunODIS"
            //- };

            //- console.log(enumMap[value]);