extends base

block content
    main.main
        table#manageUsersTable.manageUsersTable.table
            thead
                tr
                    th ID
                    th Employee<br>Number
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down
                    th Lastname
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Firstname
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Language
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Professional
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Photo
                    th E-Mail
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Role
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Department(s)
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Password
                    th Created At
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down                    
                    th Edit
                tbody
                    each user in data
                        tr
                            td= user._id
                            td= user.employeeNumber
                            td= user.lastName
                            td= user.firstName
                            td= user.language
                            td= user.professional
                            td= user.photo
                            td= user.email
                            td= user.role
                            td= user.department
                            td= user.password
                            td= user.createdAt
                            td

        br
        br

        a.btn.btn--small.btn--green(href="/api/v1/createUser") Create new User