extends base

block content
    main.main
        h1 Sended recipe-PLC-log's
        br
        br
        //-pre=JSON.stringify(data,null, 2)
        table#recipesSendSPSLogTable.recipesSendSPSLogTable.table
            thead
                tr
                    th Ordernumber (FA)
                    th Itemnumber
                    //-th XXX-<br>Nummer
                        button-upDown
                            spam.arrow-up
                        button-upDown
                    //-         spam.arrow-down
                    th User-<br>Lastname
                    th Lastname
                    th Firstname
                    th Send- date
                    th Send- time
                    th Recipe- view
                tbody
                    each recipeSPS, index in data
                        tr
                            td= recipeSPS.fa_number
                            td= recipeSPS.recipeDataSend.kopfDaten.artikelNummer
                            td= recipeSPS.employeeSendBy.userOriginalID.lastName
                            td= recipeSPS.employeeSendBy.lastName
                            td= recipeSPS.employeeSendBy.firstName
                            td 
                                p= recipeSPS.createdSendAt ? new Date(recipeSPS.createdSendAt).toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' }) : '' 
                            td
                                p= recipeSPS.createdSendAt ? new Date(recipeSPS.createdSendAt).toLocaleString('de-DE', { hour: '2-digit', minute: '2-digit', hour12: false}) : ''
                            td(style="height: 30px;")
                                button.btn.btn--info.toggle-RecipeEye-button(type="button" data-index=index style="margin-left: 20px; margin-bottom: 0px; ")
                                    svg(class="heading-box__icon" style="margin-left: 0px; margin-top: 2px; height: 15px; length: 15px;")
                                        use(xlink:href="/img/icons.svg#icon-eye" style="color: green; ")
                                    a(style="color: green; margin-top: 2px; margin-bottom: 10px; margin-left: 1px; vertical-align: middle; display: inline-block; ")  Info                                
                                .exampleImg-RecipeEye-container(id=`exampleImg-RecipeEye-container-${index}` style="display: none;")
                                    div(class="form__group") Gesendete Rezeptdaten:
                                        pre=JSON.stringify(recipeSPS.recipeDataSend,null, 2)
                                        br                                       
        br
        br

        a.btn.btn--small.btn--green(href="/api/v1/me") Back

        script.
           

            document.addEventListener('DOMContentLoaded', function() {
                const toggleButtons = document.querySelectorAll('.toggle-RecipeEye-button');

                toggleButtons.forEach((button) => {
                    const index = button.getAttribute('data-index'); 
                    const containerExampleRecipeEye = document.getElementById(`exampleImg-RecipeEye-container-${index}`);

                    button.addEventListener('click', function () {
                        if (containerExampleRecipeEye.style.display === 'none' || containerExampleRecipeEye.style.display === '') {
                            containerExampleRecipeEye.style.display = 'block';
                        } else {
                            containerExampleRecipeEye.style.display = 'none';
                        }
                    });
                });
            });