extends base

block content
    main.main
        h1 Rezept-  Statistik
        br
        br
        //-pre=JSON.stringify(data,null, 2)
        table#recipeStatisticTable_de.recipeStatisticTable_de.table
            thead
                tr
                    th Artikelnummer
                    th Total-<br>Gesendet
                    th FA-Nummer(n)
                        //-th XXX-<br>Nummer
                        //-th    
                        button-upDown
                            spam.arrow-up
                        button-upDown
                            spam.arrow-down
                    th Sendungen        
                    th Zieh-<br>Geschwindigkeit(en)
                    th Dorn-<br>Geschwindigkeit(en)
                    
                    th Letzte-<br>Sendung
                    th Artikelname(n)
                tbody
                    each recipeStatistic, index in data
                        tr
                            td= recipeStatistic.artikelNummer
                            td= recipeStatistic.totalSends
                            td!= recipeStatistic.faNumbers.join('<br>')     
                            td
                                each sendData in recipeStatistic.sendData
                                    //-td= sendData.sendDate.join('<br>')
                                    //-.join('<br>') 
                                    div= sendData.sendDate ? new Date(sendData.sendDate).toLocaleString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false}) : ''
                                    //-td=

                            td= recipeStatistic.ziehGeschwindigkeiten.join('<br>') 
                            td= recipeStatistic.dornGeschwindigkeiten.join('<br>')

                            td= recipeStatistic.lastSendAt  ? new Date(recipeStatistic.lastSendAt).toLocaleString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false}) : ''
                            td!= recipeStatistic.artikelRealName.join('<br>')                                             
        br
        br

        a.btn.btn--small.btn--green(href="/api/v1/me") Zurück